<div ng-controller="PlacesCtrl">
  <div class="jumbotron">
      Radius: <input ng-model="radius" maxlength="2" size="2"/> miles
      <h3><button ng-click="getPlaces()">Get</button>Restaurants within {{radius}} miles:</h3>
      <table class="table">
          <thead>
              <th>Restaurant</th>
              <th>Local Address</th>
          </thead>
          <tbody ng-repeat="place in places">
              <tr><td>{{place.name}}</td>
                  <td>{{place.vicinity}}</td>
              </tr>
          </tbody>
      </table>
      <div>{{error}}</div>
  </div>
</div>
