<div ng-controller="SettingsCtrl">
  <div class="jumbotron">
      <h2>Settings</h2>
  </div>
  <form>
    <div class="form-group">
       <label>Radius:</label> 
	   <input type="number" ng-model="form.radius" value={{radius}} />
	   <label>miles</label>
	</div>
	<div class="form-group">
       <label>Max Price(0-5):</label> 
	   <input type="number" ng-model="form.maxPrice" value={{maxPrice}}/>
	</div>
	<div class="form-group">
       <label>Min Price(0-5):</label> 
	   <input type="number" ng-model="form.minPrice" value={{minPrice}}/>
	</div>
	<div class="form-group">
       <label>Min Rating(0-5):</label>
	   <input type="number" ng-model="form.minRating" value={{minRating}}/>
	</div>
    <input type="button" class="btn btn-primary" ng-click="reset()" value="Reset" />
    <input type="submit" class="btn btn-primary" ng-click="update(form)" value="Save" />
  </form>
</div>
